<div class="modal-overlay" [class.show]="isVisible" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button mat-icon-button class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <h2>{{ recipe?.title }}</h2>

    <div class="recipe-image-container" *ngIf="recipeImage">
      <div class="recipe-image-wrapper">
        <img [src]="recipeImage" alt="Изображение рецепта" class="recipe-image">
      </div>
    </div>

    <div class="ingredients">
      <h3>Ингредиенты:</h3>
      <ul>
        <li *ngFor="let ingredient of recipe?.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>
    </div>

    <div class="description">
      <h3>Способ приготовления:</h3>
      <p>{{ recipe?.description }}</p>
    </div>

    <div class="recipe-meta">
      <span class="author-date">
        Автор: {{ recipe?.authorName || 'Неизвестный автор' }} | {{ recipe?.date | date:'dd.MM.yyyy' }}
      </span>
    </div>

    <div class="actions" *ngIf="recipe && (isAuthor$ | async)">
      <button mat-stroked-button color="primary" (click)="editRecipe()">
        <mat-icon>edit</mat-icon> Редактировать
      </button>
      <button mat-stroked-button color="warn" (click)="deleteRecipe()">
        <mat-icon>delete</mat-icon> Удалить
      </button>
    </div>
  </div>
</div>
